version: '3'

services:
  postgres:
    container_name: postgres_spring
    image: postgres
    command: postgres -c 'max_connections=500'
    env_file: .env
    environment:
      POSTGRES_PASSWORD: $PG_PASS
      POSTGRES_USER: $PG_USER
      PGDATA: /data/postgres
    volumes:
       - ./db:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres-compose-network
      
  # pgadmin-compose:
  #   image: dpage/pgadmin4
  #   env_file: .env
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: $PGADMIN_EMAIL
  #     PGADMIN_DEFAULT_PASSWORD: $PGADMIN_PASS
  #   ports:
  #     - "8000:80"
  #   depends_on:
  #     - postgres
  #   networks:
  #     - postgres-compose-network

networks: 
  postgres-compose-network:
    driver: bridge